
<div class="jumbotron text-center">
    <h1>Task and Employee Management</h1>
    <i class="bi-globe"></i>

    <p>Created By :</p>    <p>Med amine Bougacha</p> <p>Oussama Belhaj Rhouma</p>

  </div>
<br/>
  <div class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4  style="margin-bottom: 5rem;">What we offer</h4>
    <div class="row" >
      <div class="col-sm-6">
        <a class="btn btn-primary" routerLink="employee" href="/employee"><p style="font-size: 20px; padding: 10px 20px;">Employee Management <i class="bi bi-people" style="margin-left: 1rem;"></i></a><hr/>
    </div>
    
      <div class="col-sm-6">
       
        <a class="btn btn-primary" routerLink="tache" href="/tache"><p style="font-size: 20px; padding: 10px 20px;">Tasks Management  <i class="bi bi-wrench" style="margin-left: 1rem;"></i></p></a><hr/>
    </div>

