<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Home</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/employee" class="nav-link" routerLink="employee">Employee (Admin)</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a href="/employeemod" class="nav-link" routerLink="employeemod">Employee (Moderator)</a>
        </li>
        <li class="nav-item">
          <a href="/employeeuser" class="nav-link" *ngIf="isLoggedIn && !showAdminBoard && !showModeratorBoard" routerLink="employeeuser">Employee (User)</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/task" class="nav-link" routerLink="task">Task (Admin)</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a href="/taskmod" class="nav-link" routerLink="taskmod">Task (Moderator)</a>
        </li>
        <li class="nav-item">
          <a href="/taskuser" class="nav-link" *ngIf="isLoggedIn && !showAdminBoard && !showModeratorBoard" routerLink="taskuser">Task (User)</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
      
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href="/home" class="nav-link" (click)="logout()" routerLink="home">LogOut</a>
        </li>
      </ul>
    </nav>
  
    <div class="container" style="padding-top: 1cm;">
      <router-outlet></router-outlet>
    </div>
  </div>